{% extends "layout.html.twig" %}


{% block content %}
    <h1></h1>
    <div class="jumbotron">
        <h1 class="display-4">Welcome!</h1>
        <p class="lead">Welcome to the SutekinaBox Administration App, Please login to access the creative process of our beautiful Box.</p>
        <hr class="my-4">
        <p></p>
        <a class="btn btn-outline-info btn-lg" href="#" role="button">Connexion</a>
    </div>

{% endblock %}
